/data/
/proteins/
/.vscode/
/encoder_proteins/
/encoder_proteins_test/
/.ipynb_checkpoints/
data.zip
linear_classifier.py
classifier
__pycache__
stat_data_*
.DS_Store
error.txt
gpu_analysis_19692410.err
best_model_*.pt